<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" routerLink="">FoodBox</a>
    <span *ngIf="currentUser !== 'admin'"><i class="bi bi-cart4"></i>
    {{cartitems}} Items </span>
    <form class="form-inline">
        <span *ngIf="currentUser == 'admin'" routerLink="adminpanel"><i class="bi bi-menu-button-wide-fill"></i>Go to Admin Panel</span>
        <span class="navbar-text">
           Welcome {{currentUser}}!!
          </span>
          
<button class="btn btn-warning my-2 my-sm-0" *ngIf="!login" routerLink="signin">Login</button>
    <button class="btn btn-warning my-2 my-sm-0" *ngIf="login" (click)="logout()">Sign out</button>
    </form>
</nav>