<div class="container">
<form action="">
    <div class="col"><input type="password" id="oldpass" name="oldpass" class="form-control" [(ngModel)]="oldpass"></div>
    <label for="oldpass">Enter your old password</label>

    <div class="col"><input type="password" id="newpass" name="newpass" class="form-control" [(ngModel)]="newpass"></div>
    <label for="newpass">Enter your New password</label>

    <div class="col"><input type="password" id="renewpass" name="renewpass" class="form-control" [(ngModel)]="renewpass"></div>
    <label for="renewpass">Re-Enter your New password</label>
</form>
<button class="btn btn-primary" (click)="changepassword()">Submit</button>
</div>